.content-page {
    position: absolute;
    color: snow;
    z-index: 2;
    padding: 50px;
    border-radius: 10px;
    opacity: .7;
    background-color: rgb(25, 25, 26);
    margin: 10vw;
    place-content: center;
    font-size: 16px;
}

.image-gaia {
  max-width: 20vw;
}

.menu{
    position: absolute;
    top: 35%;
    left: 0px;
    z-index: 3;
    background-color: red;
}

.item a, .item a:hover {
    color: white;
    text-decoration: none;
  }

  .navbar-fixed-left {
    position: fixed;
    top: -25%;
  }

  .cell{
    padding-top: 1ex;
    padding-bottom: 0.5ex;
  }

  .left{
    top: 50%;
    float: left;
    transform: translateY(70%);
    width: 50px;
    transition: width .5s;
    border-radius: 0px 10px 10px 0px;
  }

  .item {
    height: 50px;
    overflow: hidden;
    color: #fff;
    background-color: #000;
    border-radius: 0px 10px 10px 0px;
  }

  .left:hover {
    width: 200px;
  }

  .item:hover {
    background-color: #222;
    border-radius: 0px 10px 10px 0px;
  }

  .left .fas {
    margin: 15px;
    width: 20px;
    color: #fff;
  }

  i.fas {
    font-size: 17px;
    vertical-align: middle !important;
  }
