html,
body {
    background-color: #040d1c; /*#000000;*/
    margin: 0px;
    overflow: hidden;
    height: 800px;
}

.basic-info {
  font-family: monospace;
  position: absolute;
  top: 73vh;
  display: block;
  font-size: 12px;
  color: snow;
  margin-left: 75vw;
  padding: 20px;
  border-radius: 10%;
  opacity: .5;
  background-color: rgb(25, 25, 26);
}

#exanim {
  color: #CA1919;
}
#viaexanim {
  color: #1b9bd3;
}

.show-info {
  font-family: monospace;
  position: absolute;
  top: 70vh;
  display: block;
  z-index: 4;
  font-size: 12px;
  color: snow;
  padding: 20px;
  border-radius: 10%;
  opacity: .5;
  background-color: rgb(25, 25, 26);
  left: 15px;
}

.show-info-buttons {
  font-family: monospace;
  position: absolute;
  top: 80vh;
  left: 25px;
  font-size: 12px;
  color: snow;
  padding: 20px;
  border-radius: 10%;
  opacity: .5;
  background-color: rgb(25, 25, 26);
  display: grid;
  grid-template-rows: auto auto;
  gap: 10px;
}

.title-info {
  font-family: monospace;
  position: absolute;
  top: 7vh;
  display: block;
  z-index: 4;
  font-size: 12px;
  color: snow;
  padding: 20px;
  border-radius: 10%;
  opacity: .5;
  background-color: rgb(25, 25, 26);
  left: 35px;
}
